<div class="text-layout">
  <h1>{{nombre | lowercase }}  </h1>
  
  <h1>{{valor | number }}  </h1>
  
  <h1>{{obj | json }}  </h1>

</div>




<button pButton 
        (click)="mostrarNombre()"
        label="Cambiar Nombre"
        icon="pi pi-server"
        iconPos="right">
  
</button>

<p-card [header]="nombre"
         subheader="Full Stack Developer">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
   Nostrum voluptate reiciendis dolorum assumenda ipsum iusto, 
   repellat quis delectus exercitationem repudiandae hic expedita ab vel ratione quidem. 
   Earum dolorem at vero.

</p-card> 